<div class="form-group">
    <label for="{{vm.options.templateOptions.label}}" class="col-md-2 control-label">{{vm.options.templateOptions.label}}</label>
    <div class="col-md-10">
        <input type="text" 
        name="{{vm.options.key}}" 
        class="form-control" id="{{vm.options.id}}" 
        ng-model="vm.modelVar" ng-required="vm.options.templateOptions.required" 
        placeholder="{{vm.options.templateOptions.label}}" 
        ng-minlength="vm.options.templateOptions.minlength" 
        ng-maxlength="vm.options.templateOptions.maxlength"
        ng-pattern="vm.options.templateOptions.pattern"
        />
    </div>
</div>